<!doctype html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>搜索</title> 
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="description" content="搜索" /> 
<meta content=”telephone=no,email=no” name=”format-detection” /> 
<meta name="Keywords" content="搜索"> 
<meta name="apple-mobile-web-app-title" content="搜索界面 "> 
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/search.css">
</head> 
<body>
<div class="m-banner"></div>
<div class="m-header">
    <span>搜索</span>
    <span onclick='history.go(-1);' class="m-h-left"></span>
</div>
<div class="m-search m-center">
    <input type="text" placeholder='请输入关键词'>
    <div class="m-search-icon"></div>
</div>
<div class="m-hotsearch  m-center">热门搜索</div>
<div class="f-greyline"></div>
<div class="m-hotword  m-center">
    <ul>
        <li><a href="#">刘翔离婚</a></li>
        <li><a href="#">全球变暖</a></li>
        <li><a href="#">厄尔尼诺</a></li>
        <li><a href="#">大地震</a></li>
        <li><a href="#">发洪水啦</a></li>
        <li><a href="#">丰收啦</a></li>
    </ul>
</div>
</body> 
</html>