<!doctype html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>我的评论</title> 
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="description" content="我的评论" /> 
<meta content=”telephone=no,email=no” name=”format-detection” /> 
<meta name="Keywords" content="我的评论"> 
<meta name="apple-mobile-web-app-title" content="我的评论界面 "> 
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<style type="text/css">
.m-comment li{height: 100px;padding: 16px 20px;border-bottom:1px solid #D3D3D3;}
.m-comment li>a>p{font-size: 18px;color: black;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;vertical-align: middle;}
.m-comment li>a>div{margin: 10px 0;font-size: 14px}
.m-comment li>a>div>span:nth-of-type(1){color: #9E9E9D;}
.m-comment li>a>div>span:nth-of-type(2){color: black}
.m-comment li>a>span{color:#7D7D7D}
</style>
</head> 
<body> 
<div class="m-banner"></div>
<div class="m-header">
    <span>我的评论</span>
    <span onclick='history.go(-1);' class="m-h-left"></span>
</div>

<div class="m-comment ">
    <ul>
        <li>
            <a href="#">
                <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                <div><span>评论：</span><span>三峡大坝3次调控减少出库水三峡大坝3次调控减少出库水</span></div>
                <span>2015/12/12   12:12</span>
            </a>
        </li>
        <li>
            <a href="#">
                <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                <div><span>评论：</span><span>三峡大坝3次调控减少出库水三峡大坝3次调控减少出库水</span></div>
                <span>2015/12/12   12:12</span>
            </a>
        </li>
        <li>
            <a href="#">
                <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                <div><span>评论：</span><span>三峡大坝3次调控减少出库水三峡大坝3次调控减少出库水</span></div>
                <span>2015/12/12   12:12</span>
            </a>
        </li>
        <li>
            <a href="#">
                <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                <div><span>评论：</span><span>三峡大坝3次调控减少出库水三峡大坝3次调控减少出库水</span></div>
                <span>2015/12/12   12:12</span>
            </a>
        </li>
        <li>
            <a href="#">
                <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                <div><span>评论：</span><span>三峡大坝3次调控减少出库水三峡大坝3次调控减少出库水</span></div>
                <span>2015/12/12   12:12</span>
            </a>
        </li>
    </ul>
</div>

</body> 
</html>