<!doctype html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>新闻</title> 
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="description" content="新闻" /> 
<meta content=”telephone=no,email=no” name=”format-detection” /> 
<meta name="Keywords" content="新闻"> 
<meta name="apple-mobile-web-app-title" content="新闻界面 "> 
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/swiper3.08.min.css">
<link rel="stylesheet" type="text/css" href="../css/news.css">
<link rel="stylesheet" type="text/css" href="../css/search.css">
<link rel="stylesheet" type="text/css" href="../css/pullToRefresh.css">
</head> 
<body>
 <div class="m-header">
    <div class="red-man"></div>
    <div class="red-search">
        <input type="text" placeholder='请输入关键词'>
        <div class="red-search-icon"></div>
    </div>
    
</div>
<div id="wrapper">
    <ul>
        <li>
            <div class="m-banner"></div>
            <!-- 焦点图部分 -->
            <div class="m-looppic swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href='#'><img src="../img/test.jpg" alt=""><p>世界上最快的跑车2</p></a></div>
                    <div class="swiper-slide"><a href='#'><img src="../img/test.jpg" alt=""><p>世界上最快的跑车3</p></a></div>
                    <div class="swiper-slide"><a href='#'><img src="../img/test.jpg" alt=""><p>世界上最快的跑车4</p></a></div>
                    <div class="swiper-slide"><a href='#'><img src="../img/test.jpg" alt=""><p>世界上最快的跑车5</p></a></div>
                    <div class="swiper-slide"><a href='#'><img src="../img/test.jpg" alt=""><p>世界上最快的跑车6</p></a></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- 导航 -->
            <div class="red-nav">
                <ul>
                    <li><a href="chazc.html">
                        <img src="../img/chazc.png" alt="">
                        <p>查政策</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/xuanxm.png" alt="">
                        <p>选项目</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/zhaozj.png" alt="">
                        <p>找资金</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/zhaorc.png" alt="">
                        <p>招人才</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/zhaozhuanj.png" alt="">
                        <p>找专家</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/xunfh.png" alt="">
                        <p>寻孵化</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/kanal.png" alt="">
                        <p>看案例</p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/zhaohb.png" alt="">
                        <p>找伙伴</p>
                    </a></li>
                </ul>
            </div>
            <!-- /导航 -->
            <div class="red-reflash">
                <span>最新更新</span>
            </div>
            <!-- 新闻 -->
            <div class="m-news">
                <!-- 新闻类型1 -->
                <ul class="news-one-pic">
                    <li>
                        <a href="detail.html">
                        <img src="../img/news.jpg" alt="">
                        <div>
                            <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                            <span>观察者</span>
                            <span>24分钟前</span>
                            <span>12</span>
                        </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                        <img src="../img/news.jpg" alt="">
                        <div>
                            <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                            <span>观察者</span>
                            <span>24分钟前</span>
                            <span>12</span>
                        </div>
                        </a>
                    </li>
                </ul>
                <!-- 新闻类型2 -->
                <ul class="news-more-pic">
                    <li>
                        <a href="">
                        <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <div class="f-clear"></div>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                    <li>
                        <a href="">
                        <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <div class="f-clear"></div>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>  
                        </a>           
                    </li>
                </ul>
                <!-- 新闻类型3 -->
                <ul class="news-none-pic">
                    <li>       
                        <a href="">
                        <p>台风预警升级为黄色中国气象局启动Ⅲ级应急</p>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                    <li> 
                        <a href="">      
                        <p>台风预警升级为黄色中国气象局启动Ⅲ级应急</p>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
            
<!-- <div class="m-load" id='wrapper'>
    加载更多……
</div> -->
</body> 
<script type="text/javascript" src='../js/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='../js/swiper3.08.jquery.min.js'></script>
<script type="text/javascript" src="../js/iscroll.js"></script>
<script type="text/javascript" src="../js/pullToRefresh.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplay : 3000,
        speed:500,
        autoplayDisableOnInteraction : false,
        pagination: '.swiper-pagination',
    })
    refresher.init({
        id:"wrapper",
        pullDownAction:Refresh,
        pullUpAction:Load
    });

    function Load() {
    setTimeout(function () {
        var str=$('.m-news').html();
           $(".m-news").append(str);
        // alert("message")
        myScroll.refresh();
    }, 1000);}
     function Refresh() {}

</script>
</html>