<!doctype html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>用户协议</title> 
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="description" content="用户协议" /> 
<meta content=”telephone=no,email=no” name=”format-detection” /> 
<meta name="Keywords" content="用户协议"> 
<meta name="apple-mobile-web-app-title" content="用户协议界面 "> 
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<style type="text/css">
.m-message h3{font-weight: bold;font-size: 16px;line-height: 30px;}
.m-message p{line-height: 24px;font-size: 15px;}
</style>
</head> 
<body> 
<div class="m-banner"></div>
<div class="m-header">
    <span>用户协议</span>
    <span onclick='history.go(-1);' class="m-h-left"></span>
</div>

<div class="m-message m-center">
    <h3>一、服务条款</h3>
    <p>途牛旅游网提供的服务将完全按照其发布的使用协议、服务条款和操作规则严格执行。为获得途牛服务，服务使用人（以下称"会员"）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。</p>
    <h3>二、目的</h3>
    <p>本协议是以规定用户使用途牛旅游网提供的服务时，途牛旅游网与会员间的权利、义务、服务条款等基本事宜为目的。</p>
</div>

</body> 
</html>