<!doctype html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>站内搜索</title> 
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
<meta name="description" content="站内搜索" /> 
<meta content=”telephone=no,email=no” name=”format-detection” /> 
<meta name="Keywords" content="站内搜索"> 
<meta name="apple-mobile-web-app-title" content="站内搜索界面 "> 
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/search.css">
<link rel="stylesheet" type="text/css" href="../css/swiper3.08.min.css">
<link rel="stylesheet" type="text/css" href="../css/news.css">
<style>
    .red-search{left: 10%;}
</style>
</head> 
<body>
<div class="m-banner"></div>
<div class="m-header">
    <span onclick='history.go(-1);' class="m-h-left"></span>
    <div class="red-search">
        <input type="text" placeholder='请输入关键词'>
        <div class="red-search-icon"></div>
    </div>
</div>

<div id="wrapper">
    <ul>
        <li>
            <!-- 新闻 -->
            <div class="m-news">
                <!-- 新闻类型1 -->
                <ul class="news-one-pic">
                    <li>
                        <a href="detail.html">
                        <img src="../img/news.jpg" alt="">
                        <div>
                            <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                            <span>观察者</span>
                            <span>24分钟前</span>
                            <span>12</span>
                        </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                        <img src="../img/news.jpg" alt="">
                        <div>
                            <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                            <span>观察者</span>
                            <span>24分钟前</span>
                            <span>12</span>
                        </div>
                        </a>
                    </li>
                </ul>
                <!-- 新闻类型2 -->
                <ul class="news-more-pic">
                    <li>
                        <a href="">
                        <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <div class="f-clear"></div>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                    <li>
                        <a href="">
                        <p>三峡大坝3次调控减少出库水 流量 船体渐露水面</p>
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <img src="../img/new.jpg" alt="">
                        <div class="f-clear"></div>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>  
                        </a>           
                    </li>
                </ul>
                <!-- 新闻类型3 -->
                <ul class="news-none-pic">
                    <li>       
                        <a href="">
                        <p>台风预警升级为黄色中国气象局启动Ⅲ级应急</p>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                    <li> 
                        <a href="">      
                        <p>台风预警升级为黄色中国气象局启动Ⅲ级应急</p>
                        <span>搜狐</span>
                        <span>刚刚</span>
                        <span>1222</span>   
                        </a>          
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
     
</body> 
</html>