<!doctype html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="UTF-8"> 
<title>首页</title> 
<meta name="description" content="文章描述" />
<meta name="Keywords" content="关键字">
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head> 
<body> 
<div class="s-w-all"><img  class="s-w-all" src="../img/head.jpg" alt=""></div>
<!-- 主体部分 -->
<div class="m-content">
    <!-- 报纸 -->
    <div class="m-paper m-part">
        <div class="m-title">
            <img src="../img/title1.jpg"  class="s-w-all" alt="">
            <a href="#"></a>
        </div>
        <div class="m-p-list">
            <ul class='m-nav'>
                <li class='active'>党报</li>
                <li>晚报都市报</li>
                <li>电视台</li>
                <li>网络</li>
            </ul>
            <div class="f-clear"></div>
            <div class='m-p-show'>
                <div class="m-control">
                    <ul>
                        <li><a href="second_paper.html">
                            <img src="../img/paper.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                    </ul>
                    <ul>
                        <li><a href="#">
                            <img src="../img/paper2.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper2.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper2.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper2.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper2.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                    </ul>
                    <ul>
                        <li><a href="#">
                            <img src="../img/paper3.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper3.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper3.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper3.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper3.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                    </ul>
                    <ul>
                        <li><a href="#">
                            <img src="../img/paper4.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper4.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper4.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper4.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/paper4.jpg" alt="">
                            <div>
                                <p>刊登载体：人民日报</p>
                                <p>刊登日期：2015-01-06</p>
                                <p>版面位置：A4</p>
                            </div>
                        </a></li>
                    </ul>
                    <div class="f-clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /报纸 -->
    <!-- 模范事迹 -->
    <div class="m-model m-part">
        <div class="m-title">
            <img src="../img/title2.jpg"  class="s-w-all" alt="">
            <a href="#"></a>
        </div>
        <div class="m-m-list">
            <ul class='m-nav'>
                <li class='active'>打造道德模范流动宣传名片</li>
                <li>开辟全方位矩阵长期展示</li>
                <li>设立网上展馆让模范事迹处处可见</li>
            </ul>
            <div class="f-clear"></div>
            <div class='m-m-show'>
                <div class="m-control">
                    <ul>
                        <li><a href="second_other.html">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                    </ul>
                    <ul>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                    </ul>
                    <ul>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                        <li><a href="#">
                            <img src="../img/people.jpg" alt="">
                            <p><span>杨晓玲</span><span>全国道德模范</span></p>
                        </a></li>
                    </ul>
                    <div class="f-clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /模范事迹 -->
    <!-- 广告 -->
    <div class="m-ad m-part">
        <div class="m-title">
            <img src="../img/title3.jpg"  class="s-w-all" alt="">
            <a href="#"></a>
        </div>
        <div class="m-a-list">
            <div class="m-t-left"><img src="../img/left.jpg" alt=""></div>
            <div class="m-t-right"><img src="../img/right.jpg" alt=""></div>
            <div class="m-show">
                <div class="m-control">
                    <ul>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                    </ul>
                    <ul>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <li><a href="">
                                <img src="../img/ad.jpg" alt="">
                                <p>请您参观中纪委的小黑屋</p>
                            </a></li>
                        <div class="f-clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
    <!-- /广告 -->
    <!-- 故事会 -->
    <div class="m-story m-part">
        <div class="m-title">
            <img src="../img/title4.jpg"  class="s-w-all" alt="">
            <a href="#"></a>
        </div>
        <div class="m-cont">
            <div class="m-left">
                <a href="#">
                    <img src="../img/big.jpg" alt="">
                    <p>北京市道德模范基层巡讲怀柔专场唱响“我的梦·中国梦”</p>
                </a>
            </div>
            <div class="m-right">
                <div class="m-t-left"><img src="../img/left.jpg" alt=""></div>
                <div class="m-t-right"><img src="../img/right.jpg" alt=""></div>
                <div class="m-show s-w-all">
                    <div class="m-control">
                        <ul>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small.jpg" alt=""></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/small2.jpg" alt=""></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""></a></li>
                        </ul>
                        <div class="f-clear"></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- /故事会 -->
    <!-- 宣讲 -->
    <div class="m-preach m-part">
        <div class="m-title">
            <img src="../img/title5.jpg"  class="s-w-all" alt="">
            <a href="#"></a>
        </div>
        <div class="m-cont">
            <div class="m-left">
                <a href="#">
                    <img src="../img/text.jpg" alt="">
                </a>
            </div>
            <div class="m-right">
                <div class="m-t-left"><img src="../img/left.jpg" alt=""></div>
                <div class="m-t-right"><img src="../img/right.jpg" alt=""></div>
                <div class="m-show s-w-all">
                    <div class="m-control">
                        <ul>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                            <li><a href="#"><img src="../img/ts2.jpg" alt=""><p>朝阳区残疾人道德讲堂讲述志愿情</p></a></li>
                        </ul>
                        <div class="f-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- /宣讲 -->
    <!-- 传帮带+宣传 -->
    <div class="m-helps m-part">
        <!--  传帮带-->
        <div class="m-help">
            <div class="m-title">
                <img src="../img/title6.jpg"  class="s-w-all" alt="">
                <a href="#"></a>
            </div>
            <div class="m-left">
                <a href="">
                    <img src="../img/ta.jpg" alt="">
                    <p>吕兴华回应是否有更大的老虎落马</p>
                </a>
            </div>
            <div class="m-right">
                <ul>
                    <li><a href="#"><img src="../img/tas.jpg" alt="">
                    <p>解码新状态：实打实的</p></a></li>
                    <li><a href="#"><img src="../img/tas.jpg" alt="">
                    <p>解码新状态：实打实的</p></a></li>
                    <li><a href="#"><img src="../img/tas.jpg" alt="">
                    <p>解码新状态：实打实的</p></a></li>
                    <li><a href="#"><img src="../img/tas.jpg" alt="">
                    <p>解码新状态：实打实的</p></a></li>
                </ul>
            </div>
        </div>
        <!-- /传帮带 -->
        <!-- 宣传 -->
        <div class="m-propaganda">
            <div class="m-title">
                <img src="../img/title7.jpg"  class="s-w-all" alt="">
                <a href="#"></a>
            </div>
            <div class="m-pd-cont">
                <div><a href="#">
                    <img src="../img/active.jpg" alt="">
                    <p>北京小伙樊蒙走进西城区“道德讲堂”</p>
                </a></div>
                <div><a href="#">
                    <img src="../img/active.jpg" alt="">
                    <p>北京小伙樊蒙走进西城区“道德讲堂”</p>
                </a></div>
            </div>
        </div>
        <!-- /宣传 -->
    </div>
    <!-- /传帮带+宣传 -->

</div>

<div class="m-foot s-w-all">
    <div>
        <p><span>中央文明办主办</span><span>武汉市文明办承办</span></p>
        <p>备案号：津nkdkdjfklss号</p>
    </div>
    <img src="../img/foot.jpg" alt="">
</div>
</body> 
<script type="text/javascript" src='../js/jquery-1.6.4.min.js'></script>
<script type="text/javascript" src='../js/index.js'></script>
</html>