<!doctype html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="UTF-8"> 
<title>二级报纸</title> 
<meta name="description" content="文章描述" />
<meta name="Keywords" content="关键字">
<link rel="stylesheet" type="text/css" href="../css/second.css">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head> 
<body> 
<div class="s-w-all"><img  class="s-w-all" src="../img/head.jpg" alt=""></div>
<!-- 主体部分 -->
<div class="m-content">
    <!-- 标题 -->
    <div class="m-title">
        <span>道德模范事迹专题展览</span>
        <span>&gt;</span>
        <span>首页</span>
    </div>
    <!-- 内容 -->
    <div class="m-cont m-other">
        <div class="m-nav">
            <ul>
                <li class='active'>
                    <a href="#">
                        <p>开辟全方位矩阵长期展示 </p>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>设立网上展馆让模范事迹处处可见</p>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>电视台</p>
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="m-detail">
            <ul class="m-list">
                <li><a href="third.html">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
                <li><a href="#">
                    <img src="../img/ts.jpg" alt="">
                    <p>开启全方位展示</p>
                </a></li>
            </ul>
            <div class="m-turn">
                <a href="#"><span>首页</span></a>
                <a href="#"><span>上一页</span></a>
                <a href="#"><span>下一页</span></a>
                <a href="#"><span>尾页</span></a>
            </div>
        </div>
    </div>
    


</div>

<div class="m-foot s-w-all">
    <div>
        <p><span>中央文明办主办</span><span>武汉市文明办承办</span></p>
        <p>备案号：津nkdkdjfklss号</p>
    </div>
    <img src="../img/foot.jpg" alt="">
</div>
</body> 
<script type="text/javascript" src='../js/jquery-1.6.4.min.js'></script>
<script type="text/javascript" src='../js/index.js'></script>
</html>