<!doctype html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="UTF-8"> 
<title>三级页面</title> 
<meta name="description" content="文章描述" />
<meta name="Keywords" content="关键字">
<link rel="stylesheet" type="text/css" href="../css/third.css">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head> 
<body> 
<div class="s-w-all"><img  class="s-w-all" src="../img/head.jpg" alt=""></div>
<!-- 主体部分 -->
<div class="m-content">
    <!-- 标题 -->
    <div class="m-title">
        <span>道德模范事迹专题展览</span>
        <span>&gt;</span>
        <span>首页</span>
    </div>
    <!-- 内容 -->
    <div class="m-cont">
        <h2> 我友善以福人 人福我福 </h2>
        <h3>
            <span>责任编辑：贺宏</span>
            <span>来源：中国文明网</span>
            <span>时间：2015-7-15</span> 
        </h3>
        <img src="../img/tu.jpg" alt="">
        <p>图一</p>
        <img src="../img/tu.jpg" alt="">
        <p>图二</p>
    </div>
      

<div class="m-foot s-w-all">
    <div>
        <p><span>中央文明办主办</span><span>武汉市文明办承办</span></p>
        <p>备案号：津nkdkdjfklss号</p>
    </div>
    <img src="../img/foot.jpg" alt="">
</div>
</body> 
<script type="text/javascript" src='../js/jquery-1.6.4.min.js'></script>
<script type="text/javascript" src='../js/index.js'></script>
</html>