@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-26 15:46:01
 * @version $Id$
 */
/*
本馆支持
 */
.mySupport{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 44px;
    box-shadow: 0 1px 6px #ccc;
    background: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #575757;
    font-size: 16px;
}
.mySupport .redColor{
	color: #fc0d0d;
	margin-right:5px;
}
.museumSupport{
	margin-top:94px;
}
.museumSupport .supportBox{
    margin:10px 15px;
    background: #fff;
    position: relative;
    box-shadow: 1px 2px 3px #ddd;
}
.supportTitle{
	margin:5px;
	padding:10px 5px;
	border-bottom:1px solid #f4f4f4;
	color: #404040;
	font-weight: bold;
	font-size: 15px;
}
.supportTitle span{
	margin:0 3px;
}
.supporter{
	position: absolute;
	right:10px;
	top:10px;
	font-size: 12px;
	font-weight: normal;
}
.supportText{
	margin:0 10px;
}
.supportText p{
    margin-bottom:0;
    color: #404040;
    font-size: 12px;
}
.supportWrap{
	padding:5px 10px 10px 10px;
	overflow: hidden;
}
.supportBtn{
    height: 35px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: #02bd8f;
    padding:0px 8px;
    float: left;
}
.supportSubtitle{
	float: left;
	margin-left: 10px;
}
.supportSubtitle p{
	font-size: 12px;
	margin-bottom: 0;
	line-height: 16px;
}